.topbar-main{
    color: white;
    font-family: "poppins",sans-serif;
    .topbar-socials{
        justify-content: space-between;
        font-size: smaller;
        hr{
            margin: .5rem;
        }
        .left{
            gap: 1rem;
            .item{
                display: flex;
                gap: .25rem;
            }
        }
        @media (max-width: 767px) {
            display: none; // Hide on small screens
          }
        
    }
    .topbar-nav{
        
        .navbar{
            padding-top: 0;
            .navbar-toggler{
                border: none;
                color: white;
                
            }
            
            .navbar-nav {
                margin-left: auto; 
                font-size: 15px;
                font-weight: 500;
                letter-spacing: 1px;
                gap: 1rem;
                button{
        
                    height: 2.5rem;
                    // width: 7rem;
                    border: none;
                    border-radius: 25px;
                    padding: 5px 20px;
                    background-color: rgb(255, 208, 0);
                    color: white;
                    font-weight: bold;
                    font-size: 13px;
                    letter-spacing: 1px;
                    
                    
                  }
                a{
                    color: white;
                }
                @media (max-width: 767px) {
                    // on small screens
                    background-color: whitesmoke;
                    a{
                        color: rgb(18, 18, 18);
                    }
                  }
              }
              
        }
        
    }
    
}