.footer-main{
    .footer-content{
        .post-img{
            width: 12rem;
            
        }
        @media (max-width: 600px) {
            .post-img{
                width: 20rem;
            }
            
        }
        
        
        h6{
            padding-left: 0.5rem;
            margin-bottom: 1rem;
            font-weight: 700;
            border-left: 2px solid black;
        }
        .col-12{
            margin-bottom: 2rem;
        }
        ul{
            padding-left: 0;
            list-style: none;
        }
        .logo{
            width: 25rem;
        }
    }
}